<div class="container my-4">
  <form [formGroup]="formulario" (ngSubmit)="publicar()">
    <div class="card shadow-sm">
      <div class="card-header border-0 pt-3">
        <h6 class="fw-bold mb-0 text-dark">
          <i class="bi bi-pencil-square me-2"></i>Crear nueva publicacion
        </h6>
      </div>

      <div class="card-body pt-2">
        <div class="mb-2">
          <input
            type="text"
            class="form-control form-control-sm fw-bold border-0"
            placeholder="Titulo de tu publicacion..."
            formControlName="titulo"
          />
        </div>

        <div class="mb-3">
          <textarea
            class="form-control border-0"
            rows="3"
            placeholder="¿Que estas pensando?"
            style="resize: none"
            formControlName="mensaje"
          ></textarea>
        </div>

        @if (mostrarInputImagen) {
          <div class="mb-3 animation-fade-in">
            <label for="inputImagen" class="btn btn-outline-dark btn-sm">
              <i class="bi bi-upload me-1"></i> Subi una imagen
            </label>
            <input id="inputImagen" type="file" accept="image/*" class="d-none" />
            <div class="form-text mt-1">Formatos recomendados: JPG.</div>
          </div>
        }
      </div>

      <div
        class="card-footer bg-transparent d-flex justify-content-between align-items-center py-2"
      >
        <button
          type="button"
          class="btn btn-sm"
          [class.btn-secondary]="mostrarInputImagen"
          [class.btn-outline-secondary]="!mostrarInputImagen"
          (click)="toggleInputImagen()"
        >
          <i class="bi bi-image me-1"></i>
          {{ mostrarInputImagen ? 'Quitar imagen' : 'Agregar imagen' }}
        </button>

        <button
          type="submit"
          class="btn btn-dark btn-sm px-4 fw-semibold"
          [disabled]="!formulario.valid"
        >
          Publicar
        </button>
      </div>
    </div>
  </form>
  @if(publicaciones().length === 0) {
    <div class="text-center text-muted mt-4">
      <i class="bi bi-journal-x fs-1"></i>
      <p class="mt-2">
        No hay publicaciones para mostrar. Se el primero en publicar!!!
      </p>
    </div>
  } @else {
    <div class="card-publicacion p-1">
      @for (publicacion of publicaciones(); track publicacion._id) {
        <div class="col p-1">
          <app-card 
            [publicacion]="publicacion"
            [id_usuario_like]="usuario()?._id"
            [usuario_email]="usuario()?.email"
            [usuario_perfil]="usuario()?.perfil"
          ></app-card>
        </div>
      }
    </div>
  }
</div>

<app-modal
  tituloModal="Error"
  [textoModal]="mensajeModal()" 
  [flagAbrir]="mostrarModal()"
  [flagModalBoton]="false"
  (cerrarModal)="mostrarModal.set(false)"
></app-modal>
