<div class=" mb-3 backend-comments">
  <div class="d-flex mb-2">
    <div
      class="card-comentarios flex-grow-1 p-2 rounded shadow-sm"
    >
      <div class="d-flex justify-content-between align-items-baseline mb-1">
        <span class="fw-bold d-block small">{{ comentario().email_autor }}</span>
        <small class="text-muted" style="font-size: 0.75rem;">
          {{ comentario().fecha_creacion | date:'dd/MM/yy HH:mm' }}
        </small>
      </div>
      <div class="d-flex justify-content-between align-items-end">
      <small class="text-muted flex-grow-1 pe-2">
        {{ comentario().contenido }}
      </small>
      @if(esElAutor){
        @if(comentario().fue_editado){
          <small class="text-muted fst-italic d-block text-end" style="font-size: 0.7rem;">
            (Editado)
          </small>
        }@else{
          <button 
            class="btn btn-outline-dark p-1 border-0 lh-1" 
            title="Editar comentario"
            (click)="editarMensaje()">
            <i class="bi bi-pencil"></i>
          </button>
        }
      }
      </div>
    </div>
  </div>
  @if(editarComentario){

    <div class="input-group input-group-sm mt-2">
      <input
      type="text"
      class="form-control"
      placeholder="Escribe un comentario..."
      aria-label="Escribe un comentario"
      [formControl]="comentarioNuevo"
      />
      <button
      class="btn btn-danger"
      title="Cancelar edicion"
      type="button"
      (click)="cancelarEdicion()"
      
      >
      <i class="bi bi-x-circle"></i>
      </button>
      <button
      class="btn btn-success"
      tittle="Confirmar edicion"
      type="button"
      (click)="confirmarEdicion()"
      [disabled]="validar || !hayUsuario"
      >
      <i class="bi bi-check-circle"></i>
      </button>
    </div>
  }
</div>